<div class="roundedBox title_a" style="line-height: 45px; padding: 10px 0 10px 10px;">
Suckered or Not?
</div>

<br/>
<div>Recent Entries</div>
<div id='entries'>
  <% @entries.each do |entry| %>
    <div class='entryBox'>
      <div class='entry'><%= entry.description %></div>
      <div class='cost'>Cost: $<%= entry.cost %></div>
    </div>
    <div>&nbsp;</div>
  <% end %>
</div>
<br>
<a href="/entries/new"><div class='backColor0 create_entry'>Find out if you've been swindled!</div></a>
<br>
<br>
&nbsp;
